
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyMathPro</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
			<a href="/" class="navbar-brand">
				<img id="brand-image" alt="Website Logo" src="../img/logo.png" />
			</a>


			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contacts</a></li>
		</nav>
	</header>

	<section class="hero">
		<div class="hero-content">
			<h2>My Math Professional!</h2>
			<p>Lets Do The Math</p>

			<a href="/" class="btn btn-lg btn-primary">Get Started</a>
			<a href="/contact" class="btn btn-lg btn-primary">Contact</a>

		</div>

	</section>


	<main>
		<div class="container">
			<div class="jumbotron text-center">
			Home Page
			</div>
		</div>
	</main>

<footer>
		Awesome Site. Copyright &copy; 2017
	</footer>
</body>
</html>




