<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="../img/favicon.png">
	<meta charset="UTF-8">
	<title>JohnsonMappingCo</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
			<a href="/" class="navbar-brand">
				<img id="brand-image" alt="Website Logo" src="../img/logo.png" />
			</a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contacts</a></li>
				<li><a href="/index">Index</a></li>
		</nav>
	</header>


<!-- MAIN CONTENT HERE-->
<%- defineContent('hero')%>
<main>
	<div class="container">
		<%- body %>
	</div>
</main>
	<footer>
		Awesome Site. Copyright &copy; 2017
	</footer>
</body>
</html>