
<%- contentFor('hero') %>
	<section class="hero">
		<div class="hero-content">
			<h2>All about the cartographer!</h2>
			<p>He is amazing!</p>

			
			<a href="/contact" class="btn btn-lg btn-primary">Drop us an Email</a>
			
		</div>

	</section>

<%- contentFor('body') %>
	<div class="jumbotron text-center">
	About Page
	</div>
	
